/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url("heyyo.gif");
    background-size: cover; /* This scales the image to cover the entire page */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Optional: Fixes the background image so it doesn't scroll with content */
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Makes sure padding doesn't affect overall width */
}

button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: #0056b3;
}

#error-message {
    color: red; /* Set the text color to red */
    font-weight: bold; /* Make the text bold */
    margin-top: 10px; /* Add some space above the message */
    font-size: 14px; /* Adjust the font size */
}
